<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col my-3"
          *ngFor="let photo of photos | async; trackBy: photoTrack" 
          [attr.data-photo-id]="photo._id"
          #messageEl>
      <div class="card" style="height: 230px;">
        <div style="width: 100%; height: 150px; overflow: hidden;">
            <img [src]="photo.imagePath | urlPhoto" [alt]="photo.title" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 >{{ photo.title }}</h2>
            <p>{{ photo.description }}</p>
        </div>
        <div class="card-Actions">
            <button (click)="BorrarPhoto(messageEl)">Borrar</button>
        </div>
      </div>
    </div> 
</div>
