<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Upload a Photo
        </div>
        <div class="card-body">
            <form >
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Photo's title" required>
                </div>
                <div class="form-group">
                   <textarea class="form-control" rows="2" placeholder="Photo's" required></textarea>
                </div>
                <input type="file" class="d-none">
                <img src="" alt="">
            </form>
        </div>
    </div>
</div>
