<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Upload a Photo</h3>
        </div>
        <div class="card-body">
            <form >
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Photo's title" required #title>
                </div>
                <div class="form-group">
                   <textarea class="form-control" rows="6" placeholder="Photo's description" required #description></textarea>
                </div>

                <div class="form-group" id="subir-foto">
                    <input #photoInput (change)="onPhotoSelected($event)" type="file" class="d-none">

                    <ng-container *ngIf="formType === 'editar'">
                        <img
                        [src]="photo.imagePath | urlPhoto"
                        class="img-fluid" style="width: 100%;">
                    </ng-container>

                    <ng-container *ngIf="formType === 'alta'">
                        <img (click)="photoInput.click()"
                        [src]="photoSelected || 'assets/imagen-no-disponible.jpg'"
                        class="img-fluid" alt="imagen no disponible" style="width: 100%;">
                    </ng-container>

                    <div id="opciones" *ngIf="file">
                        <img id="opcion-cambiar" (click)="cambiarFoto()" src="assets/change.svg" alt="Cambiar foto" title="Cambiar foto" style="width: 25px;">
                    </div>
                    <div id="opciones" *ngIf="file">
                        <img id="opcion-borrar" (click)="borrarFoto()" src="assets/waste.svg" alt="Borrar foto" title="Borrar foto" style="width: 25px;">
                    </div>
                </div>
                <button (click)="uploadFoto(title, description)" type="submit"  class="btn btn-primary btn-block">UPLOAD</button>
            </form>
        </div>
    </div>
</div>
<!-- https://www.flaticon.com/search?word=edit free svg files   -->
<!-- si se quiere modificar el color, se modifica en el fichero -->


