<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/photos" routerLinkActive="active">Photo gallery</a>
        <div id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                 <a class="nav-link" routerLink="/photos" routerLinkActive="active">My photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/photos/new" routerLinkActive="active">Upload a photo</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
